/node_modules
/.idea
/*.iml
/public/javascripts/app.js
/public/stylesheets/**
/public/locate/**
.__browserify_string_empty.js
public/projects/*
client/staging/babeled.js
client/staging/lib.js
!public/projects/readme
tests/experiments/*.log
tests/
.DS_Store

#vscode ##
launch.json
*.d.ts
typings.json
/.vscode
/typings

