/node_modules
/.idea
/*.iml
/public/javascripts/app.js
/public/stylesheets/**
.__browserify_string_empty.js
public/projects/*
client/staging/babeled.js
client/staging/lib.js
!public/projects/readme
tests/experiments/*.log
tests/
.DS_Store
## VS Code specific
/.vscode
/typings