.container-fluid
   .navbar-header
      a.navbar-brand(href="javascript:void(0);")
         img(src="/images/logo.png")
   ul.nav.navbar-nav
      li(uib-dropdown)
         a(uib-dropdown-toggle href="javascript:void(0);") File
         ul(uib-dropdown-menu)
            li.menuitem
               a(ui-sref="project({id:'newProject'})" ui-sref-opts="{reload:true}") New Project ...
            li.menuitem
               a(href="javascript:void(0);" ng-click="select()") Open Project ...
            li.menuitem
               a(href="javascript:void(0);" ng-click="project.save()") Save Project
            li.menuitem
               a(href="javascript:void(0);" ng-click="deleteProject()") Delete Project ...
            li.menuitem(ng-class="{disabled:!project.handle}" flow-init="{target:targetClasses}" flow-files-submitted="$flow.upload()" flow-file-success="csvUploadSuccess($file,$message,$flow,'classes')")
               a(href="javascript:void(0);" flow-btn flow-attrs="{accept:'text/csv'}") Import Classification CSV
            li.menuitem(ng-class="{disabled:!project.handle}" flow-init="{target:targetSymbols}" flow-files-submitted="$flow.upload()" flow-file-success="csvUploadSuccess($file,$message,$flow,'symbols')")
               a(href="javascript:void(0);" flow-btn flow-attrs="{accept:'text/csv'}") Import Picture Map CSV
            li.menuitem(ng-class="{disabled: !project.recipes}")
               a(ng-href="/project/{{project.handle}}/dump" target="_self" download="itemsense-configuration.json") Export...
            li.menuitem(ng-show="!project.recipes" ng-class="{disabled:!project.canConnect()}")
               a(href="javascript:void(0);" ng-click="project.connect()") Connect to Item Sense
            li.menuitem(ng-class="{disabled:!project.canConnect() || !project.classes}")
               a(ui-sref="present({id:project.handle})") Present Project
            li.divider
            li.menuitem(flow-init="{target:planUpload}" flow-files-submitted="$flow.upload()" flow-file-success="uploadSuccess($file,$message,$flow)")
               a(flow-btn flow-attrs="{accept:'image/png,image/jpeg,image/gif'}" href="javascript:void(0);") Upload floor plan
            li.divider
            li.menuitem
               a(href="javascript:void(0);" ng-click="about()") About
      li(uib-dropdown ng-class="{disabled:!project.recipes || !project.stage}" ng-show="project.floorPlan && $state.current.name.startsWith('floorPlan')")
         a(uib-dropdown-toggle href="javascript:void(0);") View
         ul(uib-dropdown-menu)
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="toggle('jobMonitor')")
                  i.pnj-menu-check(ng-show="project.jobMonitor")
                  |    Monitor Job
            li.menu-item
               a(href="javascript:void(0);" ng-click="toggleRuler()")
                  i.pnj-menu-check(ng-show="project.stage.isRulerVisible()")
                  |    Show Ruler
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="toggle('showReaders')")
                  i.pnj-menu-check(ng-show="project.showReaders")
                  |    Show Readers
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="project.showLLRP = !project.showLLRP")
                  i.pnj-menu-check(ng-show="project.showLLRP")
                  |    Show Reader Engagement
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="toggle('pullItems')")
                  i.pnj-menu-check(ng-show="project.pullItems")
                  |    Pull Items
            li.menu-item(ng-class="{disabled:!project.items}")
               a(href="javascript:void(0);" ng-click="toggle('showItems')")
                  i.pnj-menu-check(ng-show="project.showItems")
                  |    Show Items
            li.menu-item(ng-class="{disabled: false && !project.items}")
               a(href="javascript:void(0);" ng-click="project.stage.heatMap.show()")
                  i.pnj-menu-check(ng-show="false")
                  |    Show Heatmap
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="setEpcFilter()")
                  i.pnj-menu-check(ng-show="project.epcFilter!=='.'")
                  |    Epc Filter
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="setFloorName()") Floor Name...
      li(uib-dropdown ng-class="{disabled:!project.recipes}" ng-show="$state.current.name.startsWith('floorPlan')")
         a(uib-dropdown-toggle href="javascript:void(0);") Zones
         ul(uib-dropdown-menu)
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="selectZoneMap()") Current: {{project.zoneMap.name}}
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="newZoneMap()") New ZoneMap...
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="trace()")
                  i.pnj-menu-check(ng-show="$state.is('floorPlan.trace')")
                  |    Add Zone
            li.menu-item(ng-class="{disabled:!project.recipes}")
               a(href="javascript:void(0);" ng-click="setPresentationArea()")
                  i.pnj-menu-check(ng-show="$state.is('floorPlan.area')")
                  |    Set Presentation Area
      .navbar-form.navbar-left
         button.btn(ng-click="project.save()" ng-class="saveClass()") Save Project
      .navbar-form.navbar-left
         button.btn.btn-warning(ng-click="cancelReaders()" ng-show="project.shouldSave.readers") Cancel Reader Changes
      .navbar-form.navbar-left
         button.btn.btn-warning(ng-click="cancelZoneMap()" ng-show="project.shouldSave.zones") Cancel Zone Changes
      .navbar-form.navbar-left
         button.btn.btn-warning.disabled(ng-show="statusMessage") {{statusMessage}}
      li(uib-dropdown)
         a(href="javascript:void(0);" ng-show="project.facility && project.floorName") {{project.facility}}, Floor: {{project.floorName}}
   .pnj-job-control(ng-show="project.job" from-template="index/job_control")

