extends layout

block content
    div(ng-controller="topLevel")
        nav.pnj-nav-bar(from-template="index/nav-bar" ng-show="$state.current.name.indexOf('present')!==0")
        .pnj-body
            uib-alert(ng-if="alert" type="{{alert.type}}" close="alertClosed()" dismiss-on-timeout="3000") {{alert.msg}}
            uib-tabset
                uib-tab(heading = "Project" select="$state.go('project',{id:project.handle || 'newProject'})" active="mainTab.project")
                uib-tab(heading = "Floor Plan" disable="!project.floorPlan" select="$state.go('floorPlan',{id:project.handle})" active="mainTab.floorPlan")
                uib-tab(heading = "Classification" disable="!project.classes" select="$state.go('classes',{id:project.handle})" active="mainTab.classes")
                uib-tab(heading = "Locate Areas" disable="!project.facilities" select="$state.go('locate',{id:project.handle})" active="mainTab.locate")
            .ui-view