.container
    .pnj-easel(easel)
    .pnj-tools
        div(ng-show="project.floorPlan")
            i.pnj-zoom-in(ng-click="zoomIn()" title="Zoom In")
            i.pnj-zoom-out(ng-click="zoomOut()" title="Zoom Out")
            i.pnj-zoom-width(ng-click="zoomWidth()" title="Zoom Width")
            i.pnj-zoom-reset(ng-click="zoomReset()" title="Zoom Reset")
            i.pnj-ruler(ng-click="moveRuler()" ng-class="{active:$state.is('floorPlan.ruler')}" title="Set Scale")
            i.pnj-origin(ng-click="moveOrigin()" ng-class="{active:$state.is('floorPlan.origin')}" title="Set Coordinate Origin")
            .form-group(ng-if="project.showReaders")
                .input-group
                    .input-group-addon Reader Fields:
                    select.form-control(ng-model="project.showReaderFields" ng-options="f.i as f.n for f in fields")
        .ui-view
        h3(ng-show="hasUnplaced()") Unplaced Readers
        ul
            li.unplaced-reader(ng-repeat="reader in project.readers", ng-if="!reader.placement", ng-click="placeReader(reader)") {{reader.name.trim() || reader.address}} 
    .pnj-footer#mouseCoords

