table.table
    tr
        td Total
        td {{project.items.data.length}} Tags on Screen
    tr
        td EPC
        td {{project.item.epc}}
    tr
        td X
        td {{project.item.xLocation}}
    tr
        td Y
        td {{project.item.yLocation}}
table.table
    tr
        td Zone
        td {{project.item.zone}}
    tr
        td Confidence
        td {{project.item.presenceConfidence}}
    tr
        td Modified
        td {{project.item.lastModifiedTime | date:'MM/dd/yyyy HH:mm:ss'}}
.checkbox
    label
        input(type="checkbox",ng-model="project.timeLapseFlag" ng-change="project.timeLapse= project.timeLapseFlag? project.item.epc : false")
        | TimeLapse