//
   Created by ralemy on 1/14/17.
.pnj-record-container
    script(type="text/ng-template" id="node_renderer.html")
        span(ng-class="hasAKey(v.children)?'has-children':'end-leaf'")
            span.pnj-collapse(ng-class="v.closed ? 'plus' : 'minus'" ng-click="v.closed = !v.closed")
            span(ng-click="selectNode(v)") {{v.Name}}
                span(style="margin-left:10px;" ng-show ="v.Boundary") ({{v.AreaId}})
                span(style="margin-left:10px;" ng-bind-html="reportImages(v)")
        ul(ng-if="!v.closed")
            li.pnj-locate-li(ng-repeat="(k,v) in v.children" ng-include="'node_renderer.html'")
    ul
        li.pnj-locate-li(ng-repeat="(k,v) in tree" ng-include="'node_renderer.html'")
.pnj-editor
    button.btn.btn-primary(ng-click="getLocateAreas()" ng-if="project.recipes") Get Areas
    button.btn.btn-success(ng-click="project.connect()" ng-if="!project.recipes") Connect To ItemSense
    div(ng-if="selectedNode")
        table.table
            tr
                th Id
                td {{selectedNode.AreaId}}
            tr
                th Name
                td {{selectedNode.Name}}
            tr
                th Level
                td {{selectedNode.Level}}
            tr
                th Image
                td {{selectedNode.images}}

        button.btn.btn-primary(ng-if="!notSuitable()" ng-click="importFromLocate()") Import To Viztool
        h5(ng-if="notSuitable()" ng-bind-html="notSuitable()")