form.container.form-group(name="projectForm")
    H4 Project Information
    .input-group(ng-class="{'has-warning':projectForm.handle.$touched && projectForm.handle.$invalid}")
        .input-group-addon Name:
        input.form-control(type="text" name="handle" ng-model="project.name" ng-trim="true" required)
    .input-group(ng-class="{'has-warning':projectForm.url.$touched && projectForm.url.$invalid}")
        .input-group-addon Item Sense Url:
        input.form-control(type="url" name="url" ng-model="project.itemSense" ng-change="shouldReconnect()" ng-trim="true" required)
    .input-group(ng-class="{'has-warning':projectForm.user.$touched && projectForm.user.$invalid}")
        .input-group-addon User Name:
        input.form-control(type="text" name="user" ng-model="project.user" ng-trim="true" required)
    .input-group(ng-class="{'has-warning':projectForm.pass.$touched && projectForm.pass.$invalid}")
        .input-group-addon Password:
        input.form-control(type="password" name="pass" ng-model="project.password" required)
    .input-group(ng-if="project.facility && !project.facilities")
        .input-group-addon Facility:
        input.form-control.disabled(type="text" name="pass" ng-model="project.facility" disabled)
    .form-group(ng-if="project.facilities")
        .input-group
            .input-group-addon Facility:
            select.form-control(ng-if="project.facilities" ng-options="v for v in project.facilities " ng-model="project.facility" ng-change="project.connect()")
    .form-group(ng-if="project.recipes")
        .input-group
            .input-group-addon ZoneMaps:
            select.form-control(ng-options="v.name for v in project.zoneMaps track by v.name" ng-model="project._zoneMap")
        .input-group
            .input-group-addon Floor:
            select.form-control(ng-options="v for v in project.floors" ng-model="project.floorName")
            .input-group-addon(ng-click="setFloorName()") New Floor
        .input-group
            .input-group-addon Data Source:
            select.form-control(ng-options="v for v in ['Direct Connection','Node Red Flow']" ng-model="project.itemSource")
        .input-group(ng-if="project.itemSource === 'Node Red Flow'")
            .input-group-addon Node Red Endpoint:
            input.form-control(type="url" name="redpoint" ng-model="project.nodeRedEndPoint" ng-trim="true")
        .input-group
            .input-group-addon Update Interval (s):
            input.form-control(type="number", ng-model="project.pullInterval", min="0")
        .input-group
            .input-group-addon Movement Animation:
            select.form-control(ng-options="v for v in ['ease','jump']", ng-model="project.moveAnimation")
    .clearfix
    .form-group
        button.pnj-save(ng-click="getFacilities()" ng-disabled="!projectForm.$valid" ng-show="!project.facility && !project.facilities") Get Facilities
        button.pnj-save(ng-if="project.facility && !project.facilities" ng-disabled="!projectForm.$valid" ng-click="project.connect()") Connect
    .clearfix

.container.form-group(ng-if="project.recipes")
    H4 Job
    .input-group
        .input-group-addon Recipe:
        select.form-control(ng-options="v as v.name for v in project.recipes track by v.name" ng-model="project.recipe")
    .input-group
        .input-group-addon Duration (s):
        input.form-control(type="number" ng-model="project.duration")
    .checkbox.form-control(ng-show="project.job")
        label(style="padding-left:0;")
            span(from-template="index/job_control")
            |   {{projectInfo()}}
    button.pnj-cancel(ng-click="project.startJob()" ng-disabled="!canStart()" ng-show="!project.isJobRunning()") Start Job
    button.pnj-cancel(ng-click="project.stopJob()" ng-show="project.isJobRunning()" ng-disabled="!project.jobMonitor") Cancel Job
    .clearfix(style="margin-bottom:20px;")

