.modal-header
   h3.modal-title About Itemsense VizTool
.modal-body
   img(src="/images/logo.png")
   pre(ng-bind-html="buildString")
.modal-footer
   button.pnj-requester-ok(type="button", ng-click="ok()") OK

