.modal-header
    h3.modal-title Select Current ZoneMap
.modal-body
    .list-group(style="max-height:300px;overflow:auto;")
        li.pnj-li(ng-repeat="zoneMap in project.zoneMaps" ng-click="selectZoneMap(zoneMap)")
            span.pnj-li-icon-del(ng-click="deleteZoneMap(zoneMap,$event)" ng-if="zoneMap !== project.zoneMap")     delete
            |{{zoneMap.name}}

.modal-footer
    button.pnj-requester-cancel(ng-click="cancel()") Cancel
