.modal-header
    h3.modal-title Select Project
.modal-body
    .list-group(style="max-height:300px;overflow:auto;")
        a.list-group-item(ng-repeat="prj in projects" href="javascript:void(0);" ng-click="selectProject(prj)") {{prj.handle}}
.modal-footer
    button.pnj-requester-cancel(ng-click="cancel()") Cancel
